In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
df1=pd.read_csv('observations.csv')
df2=pd.read_csv('species_info.csv')
print(df1)
print(df2)

                               scientific_name  \
0                           Vicia benghalensis
1                               Neovison vison
2                            Prunus subcordata
3                         Abutilon theophrasti
4                     Githopsis specularioides
...                                        ...
23291                     Croton monanthogynus
23292                 Otospermophilus beecheyi
23293  Heterotheca sessiliflora ssp. echioides
23294                     Dicranella rufescens
23295                           Cucurbita pepo

                                 park_name  observations
0      Great Smoky Mountains National Park            68
1      Great Smoky Mountains National Park            77
2                   Yosemite National Park           138
3                      Bryce National Park            84
4      Great Smoky Mountains National Park            85
...                                    ...           ...
23291               Yosemite National Park           173
23292                  Bryce National Park           130
23293                  Bryce National Park           140
23294               Yosemite National Park           171
23295               Yosemite National Park           164

[23296 rows x 3 columns]
            category                scientific_name  \
0             Mammal  Clethrionomys gapperi gapperi
1             Mammal                      Bos bison
2             Mammal                     Bos taurus
3             Mammal                     Ovis aries
4             Mammal                 Cervus elaphus
...              ...                            ...
5819  Vascular Plant               Solanum parishii
5820  Vascular Plant                  Solanum xanti
5821  Vascular Plant         Parthenocissus vitacea
5822  Vascular Plant              Vitis californica
5823  Vascular Plant            Tribulus terrestris

                                           common_names conservation_status
0                              Gapper's Red-Backed Vole                 NaN
1                                 American Bison, Bison                 NaN
2     Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3     Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                         Wapiti Or Elk                 NaN
...                                                 ...                 ...
5819                                Parish's Nightshade                 NaN
5820            Chaparral Nightshade, Purple Nightshade                 NaN
5821        Thicket Creeper, Virginia Creeper, Woodbine                 NaN
5822            California Grape, California Wild Grape                 NaN
5823  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN

[5824 rows x 4 columns]

In [7]:
df=pd.merge(df1,df2,how='left')
print(df)

                               scientific_name  \
0                           Vicia benghalensis
1                               Neovison vison
2                            Prunus subcordata
3                         Abutilon theophrasti
4                     Githopsis specularioides
...                                        ...
25627                     Croton monanthogynus
25628                 Otospermophilus beecheyi
25629  Heterotheca sessiliflora ssp. echioides
25630                     Dicranella rufescens
25631                           Cucurbita pepo

                                 park_name  observations           category  \
0      Great Smoky Mountains National Park            68     Vascular Plant
1      Great Smoky Mountains National Park            77             Mammal
2                   Yosemite National Park           138     Vascular Plant
3                      Bryce National Park            84     Vascular Plant
4      Great Smoky Mountains National Park            85     Vascular Plant
...                                    ...           ...                ...
25627               Yosemite National Park           173     Vascular Plant
25628                  Bryce National Park           130             Mammal
25629                  Bryce National Park           140     Vascular Plant
25630               Yosemite National Park           171  Nonvascular Plant
25631               Yosemite National Park           164     Vascular Plant

                             common_names conservation_status
0      Purple Vetch, Reddish Tufted Vetch                 NaN
1                           American Mink                 NaN
2                            Klamath Plum                 NaN
3                              Velvetleaf                 NaN
4                          Common Bluecup                 NaN
...                                   ...                 ...
25627                         Prairie Tea                 NaN
25628          California Ground Squirrel                 NaN
25629     Sessileflower False Goldenaster                 NaN
25630                     Dicranella Moss                 NaN
25631                       Field Pumpkin                 NaN

[25632 rows x 6 columns]